@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../../fonts/Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../../fonts/Inter/Inter-Regular.woff') format('woff'),
        url('../../fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Black.eot');
    src: local('Inter Black'), local('Inter-Black'),
        url('../../fonts/Inter/Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Inter/Inter-Black.woff2') format('woff2'),
        url('../../fonts/Inter/Inter-Black.woff') format('woff'),
        url('../../fonts/Inter/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Inter';
    src: url('Inter-LightBETA.eot');
    src: local('Inter Light BETA'), local('Inter-LightBETA'),
        url('../../fonts/Inter/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Inter/Inter-LightBETA.woff2') format('woff2'),
        url('../../fonts/Inter/Inter-LightBETA.woff') format('woff'),
        url('../../fonts/Inter/Inter-LightBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold.eot');
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('../../fonts/Inter/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
        url('../../fonts/Inter/Inter-SemiBold.woff') format('woff'),
        url('../../fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../../fonts/Inter/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Inter/Inter-Bold.woff2') format('woff2'),
        url('../../fonts/Inter/Inter-Bold.woff') format('woff'),
        url('../../fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraLightBETA.eot');
    src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),
        url('../../fonts/Inter/Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Inter/Inter-ExtraLightBETA.woff2') format('woff2'),
        url('../../fonts/Inter/Inter-ExtraLightBETA.woff') format('woff'),
        url('../../fonts/Inter/Inter-ExtraLightBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBold.eot');
    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
        url('../../fonts/Inter/fonts/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Inter/fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Inter/fonts/Inter-ExtraBold.woff') format('woff'),
        url('../../fonts/Inter/fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ThinBETA.eot');
    src: local('Inter Thin BETA'), local('Inter-ThinBETA'),
        url('../../fonts/Inter/Inter-ThinBETA.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Inter/Inter-ThinBETA.woff2') format('woff2'),
        url('../../fonts/Inter/Inter-ThinBETA.woff') format('woff'),
        url('../../fonts/Inter/Inter-ThinBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}



@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../../fonts/Inter/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Inter/Inter-Medium.woff2') format('woff2'),
        url('../../fonts/Inter/Inter-Medium.woff') format('woff'),
        url('../../fonts/Inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


















@font-face {
    font-family: 'Quarion';
    src: url('Quarion-ExtraBold.eot');
    src: local('Quarion ExtraBold'), local('Quarion-ExtraBold'),
        url('../../fonts/Quarion/Quarion-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Quarion/Quarion-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Quarion/Quarion-ExtraBold.woff') format('woff'),
        url('../../fonts/Quarion/Quarion-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Quarion';
    src: url('Quarion-Bold.eot');
    src: local('Quarion Bold'), local('Quarion-Bold'),
        url('../../fonts/Quarion/Quarion-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Quarion/Quarion-Bold.woff2') format('woff2'),
        url('../../fonts/Quarion/Quarion-Bold.woff') format('woff'),
        url('../../fonts/Quarion/Quarion-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quarion';
    src: url('Quarion-Medium.eot');
    src: local('Quarion Medium'), local('Quarion-Medium'),
        url('../../fonts/Quarion/Quarion-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Quarion/Quarion-Medium.woff2') format('woff2'),
        url('../../fonts/Quarion/Quarion-Medium.woff') format('woff'),
        url('../../fonts/Quarion/Quarion-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Quarion';
    src: url('Quarion-ExtraLight.eot');
    src: local('Quarion ExtraLight'), local('Quarion-ExtraLight'),
        url('../../fonts/Quarion/Quarion-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Quarion/Quarion-ExtraLight.woff2') format('woff2'),
        url('../../fonts/Quarion/Quarion-ExtraLight.woff') format('woff'),
        url('../../fonts/Quarion/Quarion-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Quarion';
    src: url('Quarion-Heavy.eot');
    src: local('Quarion Heavy'), local('Quarion-Heavy'),
        url('../../fonts/Quarion/Quarion-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Quarion/Quarion-Heavy.woff2') format('woff2'),
        url('../../fonts/Quarion/Quarion-Heavy.woff') format('woff'),
        url('../../fonts/Quarion/Quarion-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Quarion';
    src: url('Quarion-SemiBold.eot');
    src: local('Quarion SemiBold'), local('Quarion-SemiBold'),
        url('../../fonts/Quarion/Quarion-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Quarion/Quarion-SemiBold.woff2') format('woff2'),
        url('../../fonts/Quarion/Quarion-SemiBold.woff') format('woff'),
        url('../../fonts/Quarion/Quarion-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Quarion';
    src: url('Quarion-Hairline.eot');
    src: local('Quarion Hairline'), local('Quarion-Hairline'),
        url('../../fonts/Quarion/Quarion-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Quarion/Quarion-Hairline.woff2') format('woff2'),
        url('../../fonts/Quarion/Quarion-Hairline.woff') format('woff'),
        url('../../fonts/Quarion/Quarion-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Quarion';
    src: url('Quarion-Thin.eot');
    src: local('Quarion Thin'), local('Quarion-Thin'),
        url('../../fonts/Quarion/Quarion-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Quarion/Quarion-Thin.woff2') format('woff2'),
        url('../../fonts/Quarion/Quarion-Thin.woff') format('woff'),
        url('../../fonts/Quarion/Quarion-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Quarion';
    src: url('Quarion-Light.eot');
    src: local('Quarion Light'), local('Quarion-Light'),
        url('../../fonts/Quarion/Quarion-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Quarion/Quarion-Light.woff2') format('woff2'),
        url('../../fonts/Quarion/Quarion-Light.woff') format('woff'),
        url('../../fonts/Quarion/Quarion-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Quarion';
    src: url('Quarion-Book.eot');
    src: local('Quarion Book'), local('Quarion-Book'),
        url('../../fonts/Quarion/Quarion-Book.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Quarion/Quarion-Book.woff2') format('woff2'),
        url('../../fonts/Quarion/Quarion-Book.woff') format('woff'),
        url('../../fonts/Quarion/Quarion-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

