* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body, html {
  background: $colorBackground;
  font-family: $mainFont;
}

.container {
  @include container();
  @include sm(max-width, rem(510));
  @include md(max-width, rem(690));
  @include lg(max-width, rem(930));
  @include xl(max-width, rem(1110));

  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}